@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    This website gathers information through the use of input boxes on
    the webpage. This website uses the inputted information and stores
    it in a database for purposes of this website to function properly.
    No data will be used outside the purpose of this websites function.
    Any username, password, email or credit card information is used to
    the purpose and function of this website and is not stored in any way
    outside of the function of the website.
</p>
